/* @import url('https://fonts.googleapis.com/css?family=Exo|Roboto&display=swap'); */

* {
    margin:0;
    padding:0;
  /* border: 0; */
  /* turn on debug borders */
  border: 1px solid  black;
}

/* Prevent overflow */

/* row, container, container-fluid {
  padding: 0;
  margin: 0;
  } */

/* scrollspy to view topic heading */
.navbar {
  opacity: 0.8;
}

blockquote {
   margin: 0;
   padding:0.5rem;
}
/* 
.carousel-slide {
    border: 0;
} */

p {
  display: inline-block;
  padding: 1.1em;
  line-height: 1.5em;
}


h1, h2, h3, h4
{
  margin: 0.25em;
  border: none;
}

h5 {
  margin-bottom: 0.25em;
  border: none;
}



/* body {
    font-family: 'Roboto', sans-serif;
} */

/*
body {
    font-family: $font-family-base;
    font-size:   $font-size-base;
    line-height:   $line-height-base;
    

    background-color $body-bg;
}

a, a:hover {
     color: #9b59b6;
}
*/


/* Page Menu */

/* .navbar navbar-nav nav-item a {
    font-weight: bold;
    border: none;
} */

/* Magnify Images */
img {
  margin: auto;
  background-size:120%; 
  border: none;
}

/* Card to fill the column*/
.card {
  max-width: 0;
  padding: 0;
} 

/* Modal Fill Device Viewport */
/* .modal-body {
  margin:auto;
  max-width:100%;
} */

/* .modal-dialog { 
  max-width: 95%; 
}  */

/* Size Modal Window */
@media(min-width: 992px) {
  .modal-dialog  {
    max-width: 90%; 
  }
}

/* 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
